@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap");
* {
  box-sizing: border-box;
}

.about-textblock,
.abouts .abouts-bg .abouts-us,
.main-menu a,
p {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
}

html,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}

footer h3,
footer p {
  font-family: "poppins", sans-serif;
}

.abouts .abouts-bg .abouts-us h3 {
  padding: 0;
  text-align: center;
}

.about-textblock p {
  font-size: 25px;
  text-align: justify;
  line-height: 1.5;
  font-weight: 400;
}

.main_bt {
  background: #2c4369;
}

.reporting .three-box {
  border-top: none;
  text-align: center;
}

@media (max-width: 575px) {
  .abouts .abouts-bg .abouts-us {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.abouts .abouts-bg .abouts-us h3 {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 40px;
}

@media (min-width: 576px) and (max-width: 767px) {
  .abouts .abouts-bg .abouts-us {
    margin-top: 20px;
    /* margin-bottom: 20px; */
  }
}
.logo {
  width: 160px;
}

.main-menu ul > li a {
  padding: 0px 25px 0 25px;
  font-size: 20px;
}

.flex {
  display: flex;
}

.burger-menu_button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 30;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(224, 224, 224, 0.5);
  transition: 0.4s;
}

.burger-menu_button:hover .burger-menu_lines {
  filter: brightness(0.7);
}

.burger-menu_button:hover {
  background-color: rgba(224, 224, 224, 0.5);
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #16253d;
  transition: 0.4s;
}

.burger-menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burger-menu_lines::before {
  content: "";
  top: -12px;
  right: 0;
}

.burger-menu_lines::after {
  content: "";
  top: 12px;
  right: 0;
}

.burger-menu_active .burger-menu_lines {
  background-color: transparent;
}

.burger-menu_active .burger-menu_lines::before {
  top: 0;
  transform: rotate(45deg);
}

.burger-menu_active .burger-menu_lines::after {
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu_nav {
  padding-top: 10px;
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #ffffff;
  overflow-y: auto;
  right: -100%;
  transition: 0.8s;
}
.burger-menu_nav .logo img {
  margin-left: 10px;
}

.burger-menu_active .burger-menu_nav {
  right: 0;
  transition: 0.4s;
}

.burger-menu_link {
  padding: 18px 35px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
}

.burger-menu_link:hover {
  filter: brightness(0.9);
}

.burger-menu_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.burger-menu_active .burger-menu_overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu-hide section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 150px;
}

.main-menu ul {
  display: flex;
}

.burger-menu .menu-area-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}

.burger-menu .menu-area-main > li > a {
  font-size: 20px;
  text-align: left;
  letter-spacing: 2px;
  margin: 10px 40px 10px 26px;
}

.menu-area-main-header li:hover a,
.menu-area-main-header li:focus a {
  color: #cd7213;
}

.menu-area-main-header li.active a {
  color: #cd7213;
}

@media (min-width: 992px) {
  .burger-menu {
    display: none;
  }
}
@media (max-width: 992px) {
  .main-menu .menu-hide {
    display: none;
  }
}
.about-bg {
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .about-bg {
    margin-bottom: 30px;
  }
}
.full {
  line-height: 125px;
}

.Social {
  display: none;
}

.newsletter {
  display: none;
}

.full-slider_cont h1 {
  font-size: 35px;
  line-height: 50px;
  color: #cd7324;
}

.full-slider_cont {
  padding-top: 0px;
}

.slider_section {
  margin-bottom: 50px;
}

.checklist li {
  list-style-type: none;
  padding-left: 1.5em;
  position: relative;
}

.checklist li::before {
  content: "✓";
  color: #fd7e14;
  position: absolute;
  left: 0;
}

.reporting .titlepage h2,
.reporting .titlepage h1 {
  line-height: 52px;
  font-size: 30px;
  font-weight: 500;
  text-align: left;
  padding: 0 0 0 32px;
}

.reporting {
  padding: 0 0 25px 0;
}

.reporting .titlepage {
  text-align: center;
  padding: 35px 0 15px 0;
}

@media (max-width: 992px) {
  .reporting .titlepage {
    text-align: left;
  }
}
@media (max-width: 992px) {
  .abouts .abouts-bg .abouts-us h3 {
    text-align: left;
  }
}
.full-slider_cont p {
  font-size: 25px;
  text-align: justify;
  line-height: 1.5;
  color: #666666;
}

.Request form {
  margin-bottom: 60px;
}

.Request .Request-box .Register a:hover {
  background-color: #cd7213;
  border: #ffffff solid 1px;
}

.send-btn:hover {
  background-color: #cd7213;
  border: #ffffff solid 2px;
  color: #fff;
}

.main_bt:hover,
.main_bt:focus {
  border: solid #ffffff 2px;
}

.main_bt {
  border: solid #000 2px;
}

.full-slider_cont:last-child {
  margin-top: auto;
}

.full-slider_cont p {
  text-align: justify;
}

@media (max-width: 1040px) {
  .full-slider_cont p {
    text-align: left;
  }
  .about-textblock p {
    text-align: left;
  }
}
.reporting ul a,
.Request .titlepage3 h2,
.reporting .titlepage h2,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #666;
}

.Request-box .Register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 40px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .Request .Request-box .Register h3 {
    font-size: 15px;
    line-height: 5px;
  }
}
.reporting-bg {
  background-color: #21629d;
}

.head-top {
  background: #2c4369;
}

.footer {
  background-color: #21629d;
  padding: 40px 0px;
  margin: 30px 0 0 0;
}
.footer .row {
  flex-direction: row;
}

.copyright {
  background-color: #2c4369;
}

.about-bg {
  background-color: #21629d;
}

.Request-bg {
  background-color: #21629d;
}

.send-btn {
  background-color: #2c4369;
}

.button_section {
  display: none;
}

.full-slider_cont p {
  padding: 0 0 15px 0;
}

.reporting-rate {
  width: 100%;
  overflow-x: auto;
  margin: 20px 0;
  font-size: 20px;
}
.reporting-rate .reporting-title {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  width: 100%;
  display: inline-block;
  padding-bottom: 25px;
}

#exchange-rates {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

#exchange-rates thead {
  background-color: #f2f2f2;
}

#exchange-rates th,
#exchange-rates td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

#exchange-rates th {
  font-weight: bold;
  background-color: #f2f2f2;
}

#exchange-rates tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#exchange-rates tbody tr:hover {
  background-color: #f1f1f1;
}

#exchange-rates tbody td {
  font-size: 14px;
}

#exchange-rates tbody span {
  display: block;
  padding: 10px 0;
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.abouts .row {
  row-gap: 20px;
}

@media (max-width: 768px) {
  .abouts .row div:nth-child(4) {
    order: 5;
  }
  .abouts .row div:nth-child(5) {
    order: 4;
  }
  .abouts .row div:nth-child(7) {
    order: 6;
  }
  .abouts .row div:nth-child(6) {
    order: 5;
  }
}
.about-flex-container {
  color: #fff;
}

.about_footer {
  padding: 0 0 0 30px;
}
.about_footer h3 {
  color: #fff;
  font-size: 17px;
  line-height: 30px;
  display: block;
  padding-bottom: 25px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .about_footer {
    padding: 15px 0;
  }
}
.picture_404 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.block_404 {
  background-color: #21629d;
  color: #fff;
}

.wait_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.wait_doc,
.wait_button {
  margin: 10px;
  font-size: xxx-large;
}

.wait_button {
  padding: 10px 20px;
  font-size: inherit;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  background: #21629d;
  border: 1px solid;
  border-radius: 10px;
}

@media (min-width: 769px) {
  .reporting .checklist {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .reporting .titlepage h2,
  .reporting .titlepage h1 {
    padding: 0 0 0 20px;
    line-height: 40px;
    font-size: 26px;
  }
}/*# sourceMappingURL=custom.css.map */